<a href="https://colab.research.google.com/github/ProfAI/nlp00/blob/master/2%20-%20Operare%20su%20file%20di%20testo%20con%20Python/operare_su_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operare su file CSV
Può capitarci di dover lavorare su testi presenti in una o più colonne di un file **CSV (comma separated values)**.
Nonostante sia possibile aprire un file CSV anche con la funzione open e un po' di operazioni sulle stringhe, il modo migliore di farlo rimane utilizzare [**Pandas**](https://pandas.pydata.org/), una popolare libreria Python per l'analisi dei dati.
<br><br>
Cominciamo importando Pandas.

In [0]:
import pandas as pd

Carichiamo il file CSV utilizzando la funzione *read_csv* a cui possiamo passare sia il path del file in locale che una destinazione remota, in questo notebook optiamo per la seconda opzione caricando il file direttamente dalla repository Github.
<br>
Il file che carichiamo contiene le valutazioni lasciate su Google Play nel mese di Febbraio 2019 per il bellissimo gioco per smartphone e iPhone *il Signore degli Enigmi*, edito dalla fantasmagorica azienda Nigmatica (si, è la mia, mi sto facendo pubblicità subliminale con scarsi risultati).

In [0]:
file_url="https://raw.githubusercontent.com/ProfAI/nlp00/master/2%20-%20Operare%20su%20file%20di%20testo%20con%20Python/data/riddles_reviews_feb2019.csv"
reviews = pd.read_csv(file_url)

Il dataset verrà caricato all'intero di un [**DataFrame** ](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.html) un'oggeto che Pandas utilizza per immagazzinare dati in formato tabulare.

In [13]:
[type(reviews)

pandas.core.frame.DataFrame

Utilizzando il metodo *head()* del Dataframe possiamo visualizzare le prime righe.

In [14]:
reviews.head()

,Package Name,App Version Code,App Version Name,Reviewer Language,Device,Review Submit Date and Time,Review Submit Millis Since Epoch,Review Last Update Date and Time,Review Last Update Millis Since Epoch,Star Rating,Review Title,Review Text,Developer Reply Date and Time,Developer Reply Millis Since Epoch,Developer Reply Text,Review Link
0,cat.app.lordofriddles,NaN,NaN,it,HWANE,2019-02-01T13:04:45Z,1549026285158,2019-02-01T13:04:45Z,1549026285158,5,NaN,NaN,NaN,NaN,NaN,NaN
1,cat.app.lordofriddles,93.0,4.1.14,it,HWVNS-H,2019-02-01T15:05:30Z,1549033530837,2019-02-01T15:05:30Z,1549033530837,5,NaN,NaN,NaN,NaN,NaN,NaN
2,cat.app.lordofriddles,93.0,4.1.14,it,v3720,2019-02-01T15:30:57Z,1549035057425,2019-02-01T15:30:57Z,1549035057425,5,NaN,NaN,NaN,NaN,NaN,NaN
3,cat.app.lordofriddles,93.0,4.1.14,it,HWDIG-L8940,2019-02-01T15:34:20Z,1549035260011,2019-02-01T15:34:20Z,1549035260011,5,NaN,NaN,NaN,NaN,NaN,NaN
4,cat.app.lordofriddles,NaN,NaN,it,HWPRA-H,2019-02-01T16:49:17Z,1549039757714,2019-02-01T16:49:17Z,1549039757714,4,NaN,"Applicazione buona, ma indovinelli con soluzio...",NaN,NaN,NaN,https://play.google.com/apps/publish?account=4...

Utilizzando il metodo *info()* possiamo ottenere alcune utili informazioni sul DataFrame, come il numero totale di righe, numero e nome delle colonne e il numero di valori mancanti per colonna.

In [15]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 16 columns):
Package Name                             86 non-null object
App Version Code                         84 non-null float64
App Version Name                         84 non-null object
Reviewer Language                        86 non-null object
Device                                   86 non-null object
Review Submit Date and Time              86 non-null object
Review Submit Millis Since Epoch         86 non-null int64
Review Last Update Date and Time         86 non-null object
Review Last Update Millis Since Epoch    86 non-null int64
Star Rating                              86 non-null int64
Review Title                             0 non-null float64
Review Text                              19 non-null object
Developer Reply Date and Time            0 non-null float64
Developer Reply Millis Since Epoch       0 non-null float64
Developer Reply Text                     0 non-null float64
Review Link                              19 non-null object
dtypes: float64(5), int64(3), object(8)
memory usage: 10.8+ KB

Abbiamo un totale di 86 valutazioni e 16 informazioni legate ad esse, come numero e codice della versione dell'app, dispositivo, valutazione (da 1 a 5), testo e link alla recensione. Come vedi le valutazioni accompagnate da una recensione sono soltanto 19. Possiamo selezionare una colonna di un DataFrame passandone il nome tra parentesi quadre (come si fa con i dizionari Python).
Selezioniamo solo le recensioni.

In [17]:
reviews_text = reviews["Review Text"]
type(reviews_text)

pandas.core.series.Series

L'oggetto che contiene una singola colonna è una [**Series**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html), anch'esso ha un metodo *head* per visualizzare le prime 5 righe, se passiamo un valore n come parametro visualizzeremo le prime n righe.
<br><br>
**NOTA BENE**
<br>
La maggior parte dei metodi disponibili per il DataFrame sono disponibili anche per la Series, fai riferimento alla documentazione di Pandas

In [19]:
reviews_text.head(10) # visualizziamo le prime 10 recensioni

0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4    Applicazione buona, ma indovinelli con soluzio...
5                                                  NaN
6                                                  NaN
7                                                  NaN
8                                                  NaN
9          ottimo gioco da fare da soli o in compagnia
Name: Review Text, dtype: object

Come avevamo già visto la maggior parte delle valutaziono non hanno una recensione e pandas rappresenta questa mancanza con un valore NaN (Not a Number). Eliminiamo tutte le righe che contengono un NaN e teniamo solo le recensioni. Possiamo farlo utilizzando il metodo *dropna()*.

In [40]:
reviews_text = reviews_text.dropna()
reviews_text.head(10)

4     Applicazione buona, ma indovinelli con soluzio...
9           ottimo gioco da fare da soli o in compagnia
14                              bellissima sei un genio
15                                         non mi piace
22                                                bello
23    i like the game its a really good game for you...
26                                              Bellino
31                                                bello
38                              Insomma non molto bello
43                                                bella
Name: Review Text, dtype: object

La colonna di destra rappresenta gli id delle recensioni. Possiamo selezionare una recensione per id utilizzando l'attributo *loc*.

In [34]:
reviews_text.loc[4] # la prima recensione ha id 4.

'Applicazione buona, ma indovinelli con soluzioni veramente impensabili. Buon passatempo per tenere la mente impegnata'

Possiamo invece selezionare una recensione per indice (cioè la posizione che occupa nella lista) utilizzando l'attributo *iloc*.

In [39]:
reviews_text.iloc[0] # selezioniamo la prima recensione (indice 0)

'Applicazione buona, ma indovinelli con soluzioni veramente impensabili. Buon passatempo per tenere la mente impegnata'

Adesso creiamo di nuovo un DataFrame aggiungendo la valutazione in stelle, possiamo farlo usando la funzione *concat* di Pandas per unire la Series con le recensioni e quella con le valutazioni.

In [49]:
new_reviews = pd.concat([reviews_text, reviews["Star Rating"]], axis=1).dropna() # usiamo dropna per rimuovere le righe NaN che vengono con le valutazioni
new_reviews.head(10)

                                          Review Text  Star Rating
4   Applicazione buona, ma indovinelli con soluzio...            4
9         ottimo gioco da fare da soli o in compagnia            4
14                            bellissima sei un genio            5
15                                       non mi piace            5
22                                              bello            4
23  i like the game its a really good game for you...            4
26                                            Bellino            3
31                                              bello            3
38                            Insomma non molto bello            3
43                                              bella            4

**NOTA BENE**
<br>
Abbiamo usato il parametro axis=1 per eseguire una concatenazione per colonna, con axis=0 avremmo eseguito una concatenazione per righe.
Aggiungiamo una nuova colonna al DataFrame con la lunghezza di ogni recensione, possiamo farlo con il metodo *map* della Series alla quale passeremo una [funzione lambda](https://www.meccanismocomplesso.org/lessons-lezioni-di-python-le-funzioni-lambda-functions/) che calcola la lunghezza di ogni recensione.

In [53]:
Anew_reviews.head(10)

,Review Text,Star Rating,Review Length
4,"Applicazione buona, ma indovinelli con soluzio...",4,117
9,ottimo gioco da fare da soli o in compagnia,4,43
14,bellissima sei un genio,5,23
15,non mi piace,5,12
22,bello,4,5
23,i like the game its a really good game for you...,4,67
26,Bellino,3,7
31,bello,3,5
38,Insomma non molto bello,3,23
43,bella,4,5

Adesso possiamo eseguire alcune operazioni statistiche per ottenere informazioni sulle nostre recensioni, come lunghezza e valutazione media usando il metodo *mean()*.

In [55]:
new_reviews.mean()

Star Rating       4.210526
Review Length    27.000000
dtype: float64

Possiamo ottenere un elenco abbastanza esaustivo di informazioni su di un DataFrame/Series utilizzando il metodo *describe*.

In [56]:
new_reviews.describe()

       Star Rating  Review Length
count    19.000000      19.000000
mean      4.210526      27.000000
std       0.787327      31.439536
min       3.000000       5.000000
25%       4.000000       5.000000
50%       4.000000      11.000000
75%       5.000000      34.500000
max       5.000000     117.000000